In [3]:
import pandas as pd

In [8]:
A = 'Quality_data.csv'

quality_data = pd.read_csv(A)
quality_data

,Product ID,Product characteristic 1,Quality Characteristic 8,Quality Characteristic 1,Quality Characteristic 2,Quality Characteristic 3,Quality Characteristic 4,Quality Characteristic 5,Quality Characteristic 6,Process Characteristic 1,Process Characteristic 2,Rework characteristic 1,Rework characteristic 2,Repair characteristic 1,Rework Minutes,Quality rating,Capture Date,Rework Date,Quality Characteristic 7
0,26.0,1,A,412,653,248,172,s,a,APU3b,1,I,c,m,0.0,1,01.10.18 06:34:54,01.10.18 06:35:24,0
1,50.0,2,A,408,793,221,147,s,b,APU3b,1,I,b,d,285.0,1,01.10.18 07:23:12,01.10.18 08:13:42,0
2,72.0,1,A,407,608,210,117,s,a,APU3b,4,O,a,b,0.0,1,01.10.18 15:39:57,01.10.18 16:50:40,0
3,72.0,1,A,407,608,248,142,s,a,APU3b,2,I,c,g,0.5,1,01.10.18 07:25:09,01.10.18 07:32:53,0
4,74.0,2,A,408,508,205,176,s,b,APU3b,3,I,b,d,25.0,1,01.10.18 07:51:32,01.10.18 09:41:50,0
5,74.0,2,A,410,508,219,176,s,b,APU3b,3,I,b,d,0.0,1,01.10.18 07:50:14,01.10.18 09:42:16,0
6,97.0,1,A,407,559,240,112,s,a,APU3b,2,O,a,b,0.0,1,01.10.18 08:03:31,01.10.18 12:50:59,0
7,97.0,1,A,407,608,248,142,s,a,APU3b,2,O,a,b,0.0,1,01.10.18 08:03:31,01.10.18 12:51:50,0
8,115.0,1,A,407,608,210,117,s,a,APU3b,4,O,a,b,0.0,1,01.10.18 10:09:43,01.10.18 13:21:17,0
9,117.0,2,A,407,559,240,112,s,b,APU3b,2,O,a,b,0.0,1,01.10.18 08:37:35,01.10.18 14:51:55,0
10,117.0,2,A,407,608,248,142,s,b,APU3b,2,O,a,b,0.0,1,01.10.18 08:37:35,01.10.18 14:52:23,0
11,121.0,1,A,412,653,284,172,s,a,APU3b,1,O,a,q,0.0,1,01.10.18 08:45:42,01.10.18 19:31:04,0
12,124.0,2,A,414,508,246,122,s,b,APU3b,1,I,b,d,0.1,1,01.10.18 08:02:51,01.10.18 08:33:50,0
13,127.0,2,T,449,656,200,108,s,b,APU3b,1,I,b,a,0.1,1,01.10.18 05:52:15,01.10.18 06:56:15,0
14,129.0,1,A,453,500,227,100,s,a,APU3b,2,I,a,j,0.2,1,01.10.18 06:00:55,01.10.18 06:45:10,0
15,134.0,1,A,407,546,248,158,s,a,APU3b,4,I,c,j,0.0,1,01.10.18 06:10:09,01.10.18 06:10:09,0
16,135.0,1,A,407,608,210,117,s,a,APU3b,4,O,a,b,0.0,1,01.10.18 10:37:24,01.10.18 15:47:38,0
17,136.0,2,A,415,662,212,169,s,a,APU3b,2,O,b,b,0.0,1,02.10.18 11:30:34,02.10.18 14:26:56,9
18,139.0,1,A,407,608,210,117,s,a,APU3b,4,O,a,b,0.0,1,01.10.18 10:49:07,01.10.18 12:07:30,0
19,143.0,1,A,407,608,210,117,s,a,APU3b,4,I,a,b,0.0,1,01.10.18 13:51:05,01.10.18 14:47:10,0
20,149.0,1,A,407,608,210,117,s,a,APU3b,4,O,a,b,0.0,1,01.10.18 12:41:27,01.10.18 13:08:14,0
21,149.0,1,A,407,657,266,122,s,a,APU3b,1,I,a,b,0.0,1,01.10.18 06:15:33,01.10.18 06:19:20,0
22,172.0,3,A,407,580,255,123,s,a,APU3b,3,I,b,m,0.1,1,01.10.18 06:56:57,01.10.18 06:58:39,0
23,180.0,1,A,412,653,248,172,s,a,APU3b,1,I,a,b,0.0,1,01.10.18 10:22:05,01.10.18 12:26:15,0
24,194.0,3,A,407,580,255,123,s,a,APU3b,2,I,a,m,0.2,1,01.10.18 07:28:30,01.10.18 07:41:44,0
25,214.0,3,T,405,505,200,101,s,a,APU3a,3,I,a,a,0.4,2,01.10.18 07:29:08,01.10.18 07:37:47,0
26,233.0,3,T,405,505,200,101,s,a,APU3a,3,I,a,a,0.4,2,01.10.18 07:32:28,01.10.18 07:38:05,0
27,245.0,2,A,412,663,207,171,0,a,APU3b,3,I,c,f,0.0,1,01.10.18 11:58:34,01.10.18 22:01:23,0
28,256.0,3,A,407,580,255,123,s,a,APU3b,3,I,b,m,0.1,1,01.10.18 08:27:22,01.10.18 08:27:42,0
29,271.0,1,A,407,608,248,144,s,b,APU3b,2,I,a,g,0.5,1,01.10.18 12:16:40,01.10.18 12:28:05,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18883,NaN,1,A,403,503,273,102,s,b,APU3a,3,I,c,b,0.0,2,02.10.18 07:01:04,02.10.18 07:08:59,0
18884,NaN,2,A,414,631,274,100,s,b,APU3a,3,I,a,b,0.0,2,01.10.18 12:26:46,01.10.18 12:51:12,0
18885,NaN,3,T,405,505,200,101,s,a,APU3a,3,I,a,b,0.0,2,31.01.19 21:11:05,31.01.19 21:24:18,0
18886,NaN,1,T,411,501,200,101,s,a,APU3a,3,I,a,a,0.0,2,31.01.19 21:59:58,31.01.19 22:10:16,0
18887,NaN,1,T,413,511,200,108,s,a,APU3a,3,I,a,a,0.0,2,31.01.19 23:37:39,31.01.19 23:39:54,0
18888,NaN,1,A,412,590,204,157,s,a,APU3b,3,O,a,i,0.0,1,03.10.18 01:36:17,03.10.18 07:52:00,0
18889,NaN,2,A,415,697,212,147,s,a,APU3b,2,O,b,b,0.0,1,02.10.18 12:54:46,02.10.18 13:22:26,6
18890,NaN,2,A,412,553,219,151,s,a,APU3b,2,O,a,s,0.0,1,02.10.18 11:51:13,02.10.18 15:40:46,0
18891,NaN,2,A,412,571,243,114,s,a,APU3b,3,I,a,b,0.0,1,02.10.18 11:21:21,02.10.18 14:40:02,9
18892,NaN,2,A,428,653,248,172,s,a,APU3b,1,I,a,b,0.0,1,02.10.18 07:00:00,04.10.18 01:44:36,6
18893,NaN,2,A,428,700,240,191,s,a,APU3b,4,I,a,b,0.0,1,02.10.18 07:00:00,04.10.18 01:44:51,6
18894,NaN,2,A,412,536,287,132,s,a,APU3b,2,I,c,ak,40.0,1,01.10.18 17:39:57,02.10.18 03:30:45,0
18895,NaN,2,A,412,690,211,100,0,a,APU3b,1,I,a,b,0.0,1,01.10.18 15:17:38,02.10.18 21:33:29,0
18896,NaN,1,A,412,734,207,153,0,a,APU3b,4,I,a,g,0.0,1,01.10.18 09:49:04,01.10.18 10:10:30,0
18897,NaN,1,A,412,590,207,171,0,a,APU3b,1,I,a,g,0.0,1,01.10.18 08:45:14,01.10.18 10:13:48,0
18898,NaN,2,A,412,561,243,185,s,a,APU3b,1,I,a,b,0.0,1,01.10.18 08:42:57,01.10.18 09:57:03,9
18899,NaN,2,A,426,651,210,147,s,a,APU3b,3,O,b,i,0.0,1,01.10.18 07:05:17,01.10.18 07:42:36,5
18900,NaN,2,A,412,653,248,172,s,a,APU3b,1,I,c,m,0.0,1,01.10.18 06:06:19,01.10.18 06:08:27,0
18901,NaN,3,A,407,655,281,172,s,b,APU3b,1,I,a,m,0.6,1,31.01.19 20:37:47,31.01.19 20:40:59,0
18902,NaN,1,A,407,655,229,172,s,b,APU3b,1,I,a,b,0.0,1,31.01.19 20:56:23,31.01.19 21:01:02,0
18903,NaN,2,A,407,655,229,172,s,b,APU3b,1,I,a,g,0.0,1,31.01.19 21:57:32,31.01.19 21:57:32,0
18904,NaN,1,A,407,655,281,172,s,b,APU3b,1,I,a,m,0.0,1,31.01.19 21:59:22,31.01.19 22:40:51,0
18905,NaN,1,A,407,661,248,174,s,b,APU3b,3,I,a,b,0.0,1,31.01.19 22:01:23,31.01.19 22:19:24,0
18906,NaN,1,A,407,655,229,172,s,b,APU3b,1,I,a,m,0.0,1,31.01.19 22:05:23,31.01.19 22:12:21,0
18907,NaN,2,A,407,655,229,172,s,b,APU3b,1,I,a,g,0.0,1,31.01.19 22:07:59,31.01.19 22:07:59,0
18908,NaN,1,A,407,628,210,122,s,b,APU3b,1,I,a,m,0.0,1,31.01.19 22:15:06,31.01.19 22:15:06,0
18909,NaN,1,A,407,655,229,172,s,b,APU3b,1,I,a,m,0.0,1,31.01.19 22:16:17,31.01.19 22:22:51,0
18910,NaN,2,A,407,657,266,122,s,b,APU3b,1,I,a,b,0.0,1,31.01.19 22:27:37,31.01.19 22:36:22,0
18911,NaN,1,A,407,655,229,172,s,b,APU3b,1,I,a,m,0.0,1,31.01.19 22:43:50,31.01.19 22:50:55,0
18912,NaN,1,A,407,662,210,169,s,b,APU3b,2,I,a,g,0.0,1,31.01.19 23:05:20,31.01.19 23:19:26,0

In [10]:
B = 'Process_disturbances.csv'

process_disturbances = pd.read_csv(B)
process_disturbances

,Start,End,Total duration,Alarm text,Alarm class
0,01/10/2018 01:35,01/10/2018 06:00,"15,897",a,S
1,01/10/2018 03:04,01/10/2018 06:00,"10,538",b,E
2,01/10/2018 06:00,01/10/2018 06:00,14,a,S
3,01/10/2018 06:15,01/10/2018 06:16,71,a,S
4,01/10/2018 06:15,01/10/2018 06:16,66,c,O
5,01/10/2018 06:45,01/10/2018 06:50,300,b,E
6,01/10/2018 06:45,01/10/2018 06:50,300,a,S
7,01/10/2018 06:54,01/10/2018 07:01,402,a,S
8,01/10/2018 07:02,01/10/2018 07:02,8,a,S
9,01/10/2018 07:23,01/10/2018 07:23,3,a,S
10,01/10/2018 07:46,01/10/2018 07:58,733,a,S
11,01/10/2018 07:59,01/10/2018 07:59,7,a,S
12,01/10/2018 08:07,01/10/2018 08:08,60,a,S
13,01/10/2018 08:07,01/10/2018 08:08,56,c,O
14,01/10/2018 08:10,01/10/2018 08:13,206,a,S
15,01/10/2018 08:10,01/10/2018 08:13,201,c,O
16,01/10/2018 08:45,01/10/2018 09:13,"1,680",b,E
17,01/10/2018 08:45,01/10/2018 09:13,"1,680",a,S
18,01/10/2018 09:23,01/10/2018 09:29,389,a,S
19,01/10/2018 09:23,01/10/2018 09:29,385,c,O
20,01/10/2018 10:35,01/10/2018 10:36,59,a,S
21,01/10/2018 10:35,01/10/2018 10:36,55,c,O
22,01/10/2018 10:44,01/10/2018 10:44,38,a,S
23,01/10/2018 10:44,01/10/2018 10:44,33,c,O
24,01/10/2018 10:50,01/10/2018 10:50,14,a,S
25,01/10/2018 10:50,01/10/2018 10:50,10,c,O
26,01/10/2018 10:53,01/10/2018 10:53,9,a,S
27,01/10/2018 10:58,01/10/2018 10:59,25,a,S
28,01/10/2018 11:04,01/10/2018 11:05,55,a,S
29,01/10/2018 11:04,01/10/2018 11:05,50,c,O
...,...,...,...,...,...
15606,31/01/2019 10:33,31/01/2019 10:33,4,a,S
15607,31/01/2019 10:34,31/01/2019 10:34,16,a,S
15608,31/01/2019 10:34,31/01/2019 10:34,12,c,O
15609,31/01/2019 10:36,31/01/2019 10:37,39,a,S
15610,31/01/2019 10:36,31/01/2019 10:37,34,c,O
15611,31/01/2019 10:39,31/01/2019 10:39,6,a,S
15612,31/01/2019 10:44,31/01/2019 10:44,19,a,S
15613,31/01/2019 10:44,31/01/2019 10:44,14,c,O
15614,31/01/2019 10:46,31/01/2019 10:46,7,a,S
15615,31/01/2019 10:46,31/01/2019 10:46,2,c,O
15616,31/01/2019 10:53,31/01/2019 10:53,6,a,S
15617,31/01/2019 11:55,31/01/2019 11:55,1,a,S
15618,31/01/2019 10:54,31/01/2019 10:54,6,a,S
15619,31/01/2019 10:54,31/01/2019 10:54,2,c,O
15620,31/01/2019 10:55,31/01/2019 10:55,6,a,S
15621,31/01/2019 10:59,31/01/2019 10:59,28,a,S
15622,31/01/2019 10:59,31/01/2019 10:59,23,c,O
15623,31/01/2019 11:06,31/01/2019 11:06,20,a,S
15624,31/01/2019 11:06,31/01/2019 11:06,16,c,O
15625,31/01/2019 11:12,31/01/2019 11:12,10,a,S
15626,31/01/2019 11:12,31/01/2019 11:12,5,c,O
15627,31/01/2019 11:21,31/01/2019 11:21,3,a,S
15628,31/01/2019 11:26,31/01/2019 11:26,5,a,S
15629,31/01/2019 11:30,31/01/2019 11:45,900,b,E
15630,31/01/2019 11:30,31/01/2019 11:45,909,a,S
15631,31/01/2019 11:30,31/01/2019 11:45,906,c,O
15632,31/01/2019 11:52,31/01/2019 11:53,28,a,S
15633,31/01/2019 11:52,31/01/2019 11:53,23,c,O
15634,31/01/2019 11:57,31/01/2019 11:58,33,a,S
15635,31/01/2019 11:57,31/01/2019 11:58,29,c,O

In [13]:
C = 'Product_tracking_information.csv'

#tracking points
#Z3200 - entry into process
#Z3299 - exit out of process

track_info = pd.read_csv(C)
track_info

         ZPKT       Format Date  Product ID
0       Z3200  01/10/2018 01:34         147
1       Z3200  01/10/2018 06:00         149
2       Z3299  01/10/2018 06:00         114
3       Z3200  01/10/2018 06:01         156
4       Z3299  01/10/2018 06:01         160
5       Z3200  01/10/2018 06:02        1625
6       Z3299  01/10/2018 06:02         119
7       Z3200  01/10/2018 06:03         193
8       Z3299  01/10/2018 06:04         117
9       Z3200  01/10/2018 06:04         153
10      Z3299  01/10/2018 06:05         121
11      Z3200  01/10/2018 06:06         276
12      Z3299  01/10/2018 06:06         122
13      Z3200  01/10/2018 06:07         155
14      Z3299  01/10/2018 06:07         120
15      Z3200  01/10/2018 06:08         159
16      Z3299  01/10/2018 06:08         145
17      Z3200  01/10/2018 06:09         157
18      Z3299  01/10/2018 06:09         125
19      Z3200  01/10/2018 06:10         158
20      Z3299  01/10/2018 06:10         134
21      Z3200  01/10/2018 06:11         161
22      Z3299  01/10/2018 06:11         168
23      Z3200  01/10/2018 06:12         162
24      Z3299  01/10/2018 06:12         126
25      Z3200  01/10/2018 06:13         163
26      Z3299  01/10/2018 06:13         486
27      Z3200  01/10/2018 06:14         197
28      Z3299  01/10/2018 06:14         129
29      Z3299  01/10/2018 06:15         127
...       ...               ...         ...
142255  Z3299  24/01/2019 19:39       71444
142256  Z3200  24/01/2019 19:39       71475
142257  Z3299  24/01/2019 19:40       71445
142258  Z3200  24/01/2019 19:41       71479
142259  Z3299  24/01/2019 19:42       71447
142260  Z3299  24/01/2019 19:44       71476
142261  Z3200  24/01/2019 19:45       71481
142262  Z3299  24/01/2019 19:49       71464
142263  Z3200  24/01/2019 19:50       71492
142264  Z3299  24/01/2019 19:52       71452
142265  Z3200  24/01/2019 19:52       71486
142266  Z3299  24/01/2019 19:53       71457
142267  Z3200  24/01/2019 19:54       71490
142268  Z3299  24/01/2019 19:56       71471
142269  Z3299  24/01/2019 19:58       71458
142270  Z3299  24/01/2019 20:00       71460
142271  Z3200  24/01/2019 20:00       71489
142272  Z3299  24/01/2019 20:01       71462
142273  Z3299  24/01/2019 20:04       71467
142274  Z3299  24/01/2019 20:06       71465
142275  Z3299  24/01/2019 20:08       71472
142276  Z3299  24/01/2019 20:09       71466
142277  Z3299  24/01/2019 20:11       71468
142278  Z3299  24/01/2019 20:16       71475
142279  Z3299  24/01/2019 20:18       71479
142280  Z3299  24/01/2019 20:21       71481
142281  Z3299  24/01/2019 20:28       71492
142282  Z3299  24/01/2019 20:30       71486
142283  Z3299  24/01/2019 20:31       71490
142284  Z3299  24/01/2019 20:38       71489

[142285 rows x 3 columns]